* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html, body {
    height: 100%;
}
/* #container{
    padding-left: 5vw;
    padding-right: 5vw;
} */

/* Hero */
#company-logo{
    position: absolute;
    left: 45%;
    top : 6%;
    height: 7vh;
}
img.social-img{
    height:3.8vh;
    width: auto;
}
#navlinks{
    display: flex;
    list-style-type: none;
    color: white;
    gap: 2.3rem;
    padding: 0;
    margin: 0;
}
#social-links{
    display: flex;
    list-style-type: none;
    color: white;
    gap: 1.5rem;
    padding-right: 0.5vw;
    margin: 0;
}
.navbar{
    display: flex;
    justify-content: space-between;
    width: 90vw;
    padding-top: 8vh;
    padding-left: 13.6vw;
    padding-right: 13.6vw;
}

#hero-description{
    padding: 10vh;
    margin: 8vh;
    text-align: center;
    /* display: flex;
    justify-content: center; */
}

#hero-description span{
    display: block;
    
}
#hero-description h1{
    font-size: 4rem;
    line-height: 1.1;
}

#hero-description h2{
    margin-top: 5vh;
    font-weight: 400;
    font-size: 1.6rem;
}

#hero-description button{
    margin-top: 10vh;
    background-color: #2091F9;
    color: white;
    padding: 0.7vw 4vw;
    border-radius:999px;
    font-size: large;
    font-weight: 700;
    border-color: #2091F9;
}

#hero-description button:hover{
    cursor:pointer;
    background-color: #0d5598;
    border-color: #0d5598;
}


#hero{
    background-image: url('static/background.jpg');
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    padding-left: 5vw;
    padding-right: 5vw;
    box-sizing: border-box;
    color: white;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    clip-path: polygon(0% 0%, 0% 78%, 50% 100%, 100% 78%, 100% 0%);
    margin-bottom: 15vh;
}
#hero a{
    color: white;
    text-decoration: none;
    font-size: small;
}

/*Hero end*/

/*Feature*/
#Features{
    display: flex;
    flex-direction: column;
    gap : 5rem;
}

#feature-list{
    display: flex;
    justify-content: center;
    text-align: center;
    gap : 4rem;
}

.feature{
    display : flex;
    flex-direction: column;
    text-align: center;
    width: 13%;
    gap: 1.3rem;
}

.feature h3{
    font-size: 1.05rem;
}

#feature-list img{
    display: block;
    width: 3rem;
    margin : 0 auto;
}

#Feature-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap : 1.1rem;
    text-align: center;
}
#Feature-container span{
    display: block;
}
#Feature-container h1{
    font-size: 2.5rem;
    font-weight: 400;
}
#Feature-container h2{
    font-size: 1.5rem;
    font-weight: 400;
}

video{
    width: 65%;
    display: block;
    margin: 1rem auto;
    border-radius: 40px; 
    max-width: 100%;
    /* overflow: hidden;     */
}

.video-wrapper{  
    position: relative;
}

#overlap-video{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top : 50%;
    left : 50%;
    transform: translate(-50%,-50%);
    width: 60%;
    height: 60%;
}

#overlap-video img{
    width: 7rem;
    opacity: 0.7;
}
  
/*Feature end*/

/* Mac */

/* Mac end */
